.carousel-fixed {
  position: fixed;
  top: 0;
}

.carousel {
  position: relative;
  margin: 0 auto;
  -ms-touch-action: pan-x !important;
  touch-action: pan-x !important;
}

.control-dots {
  position: relative;
  top: 66%;
  .dot {
    z-index: 1;
    width: 0.8em !important;
    height: 0.8em !important;
    outline: none !important;
    background-color: transparent;
    margin: 0.5em;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255) !important;
    &:hover {
      cursor: pointer;
      background-color: rgb(255, 255, 255);
    }
  }
} 

@media only screen and (max-width: 768px) {
  .control-dots {
    visibility: none;
  }
}
