.close-button {
  z-index: 1;
  position: absolute;
  box-shadow: 0px 0px 3px 1px black;
  right: 2.5%;
  top: 2.5%;
  width: 2em;
  height: 2em;
  background-color: white;
  border-radius: 50%;
  transition: transform .25s ease-in-out;
}
.close-button:hover {
  transform: rotate(90deg);
  cursor: pointer;
}
.close-button:before {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1.438em;
  height: 0;
  border-top: 0.188em solid $mainRedcolor;
  transform: rotate(45deg);
  transform-origin: center;
}
.close-button:after {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1.438em;
  height: 0;
  border-top: 0.188em solid $mainRedcolor;
  transform: rotate(-45deg);
  transform-origin: center;
}