
.blur-img {
  top: 0;
  z-index: 0;
  position: fixed;
  height: 100%;
  background-color: black;
  img {
    position: absolute;
    margin: 0 auto;
    opacity: 0.9;
    filter: blur(4px);
    transition: all 1s;
    &:hover {
      filter: blur(0px);
      opacity: 1;
      transition: all 1s;
    }
  }
}
