 .group-sessions-description {
   color: white;
   z-index: 0;
   max-width: 40.625em;
   text-align: justify;
 }

 td, th {
   font-size: 15px;
   z-index: 0;
   background-color: white;
   color: rgb(255, 255, 255);
   font-weight: bold;
   text-align: center;
 }

 table {
   box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
   z-index: 0;
   max-width: 40.625em;
   margin-bottom: 5%;
   width: 95%;
   border-collapse: collapse;
 }

 th {
  padding: 1.563em 0.313em 1.563em 0.313em;
  background-color:  $mainGreencolor;
  color:rgb(255, 255, 255);
  border: 1px solid rgb(100, 100, 100);
 }

 tr, td {
   width: 15%;
    border: 1px solid rgb(100, 100, 100);
    color: black;
 }

 tr, td > h3 {
  line-height: 0.188em;
}
tr, td > p {
  font-weight: 100;
}


 tr > td:first-child {
   text-align: center;
   color: rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);
   border: 1px solid rgb(100, 100, 100);
 }

 tr:nth-child(even) > td  {
  background-color: rgb(194, 194, 194);
}

 @media only screen and (max-width: 768px) {
  table {
    max-width: 95%;
  }
  td, th {
    font-size: 3vw;
  }
  .group-sessions-description {
    max-width: 95%;
  }
}
