.prices-wrapper {
  z-index: 0;
  padding: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 100%;
  height: auto;
}
.prices-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.prices-heading > h3 {
  color: rgb(48, 48, 48);
  text-align: center;
  font-size: 1.875em;
}
.prices-heading > img {
  height: 5em;
  width: 5em;
  margin-bottom: 1.875em;
}

.treatments-list-wrapper {
  padding: 1.25em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.treatments-list {
  width: 45%;
  color: white;
  padding: 0.625em;
  text-align: center;
  margin: 0.625em;
  border-radius: 0.313em;
  display: flex;
  flex-direction: column;
  align-items: inherit;
  background-color: rgb(0, 122, 114);
  background: linear-gradient(180deg, rgba(0, 122, 114, 1) 0%, rgba(51, 51, 51, 1) 30%);
  transition: background-color 0.5s;
  transition: all .2s ease-in-out;
  &:hover {
    background-color: $mainRedcolor;
    box-shadow: 0px 0px 1.125em 0.313em black;
    background: linear-gradient(180deg,$mainRedcolor 0%, rgba(51, 51, 51, 1) 30%);
    transition: background-color 0.3s;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05);
  }
}

.onhover {
  background-color: $mainRedcolor;
  background: linear-gradient(180deg,$mainRedcolor 0%, rgba(51, 51, 51, 1) 30%);
  box-shadow: 0px 0px 1.125em 0.313em black;
  transition: background-color 0.3s;
  transition: transform 0.2s ease-in-out;
  transform: scale(1.05);
}

.treatments-list > p:nth-child(4) {
  padding: 0.625em;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .treatments-list {
    width: 90%;
  }
}
