.prices-wrapper {
  z-index: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
}
.prices-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.prices-heading > h3 {
  color: rgb(48, 48, 48);
  text-align: center;
  font-size: 1.875em;
}
.prices-heading > img {
  height: 5em;
  width: 5em;
  margin-bottom: 1.875em;
}

.treatments-list-wrapper {
  padding: 1.25em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.treatments-list {
  width: 45%;
  color: rgb(0, 0, 0);
  padding: 0.625em;
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.style-wrapper {
  width: 80%;
}

.treatments-list > p:nth-child(4) {
  padding: 0.625em;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .treatments-list {
    width: 100%;
  }
}
