.transperent-wrapper {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.heading > h3 {
  z-index: 0;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1.875em;
}
.heading > img {
  height: auto;
  width: 5em;
  margin-bottom: 1.875em;
  z-index: 0;
}

.group-sessions-description > p {
  color: black;
}

.blur-wrapper {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0; 
  bottom: 0;
 }