.treatment {
  z-index: 0;
  background-color: rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(0, 0, 0, 1);
  width: 40em;
  color:#212121;
  padding: 10px;
  margin: 0px;
  height: 3em;
  overflow: hidden;
  h3 {
    color: #000000;
    width: 100%;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    padding-bottom:20px;
  }
  p {
    text-align: justify;
  }
}

.treatments-section-wrapper {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  h3 {
    color: #000000;
  }
}

.treatments-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
}

.arrow-down {
  transition: all 0.3s;
  margin-top: 20px;
  margin-right: 10px;
  left: 0;
  position: relative;
  float: right;
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid rgb(48, 48, 48);
}

.treatments-mobile-view {
  border: 1px solid white;
  .arrow-down {
    opacity: 1;
  }
}
@media only screen and (max-width: 768px) {
  .treatment {
    width: 90%;
    p {
     text-align: left; 
    }
  }
}
